<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732119657974-q40cn6mq3v7ngec8tuc4n6sa2niud0at.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732119657974-q40cn6mq3v7ngec8tuc4n6sa2niud0at</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>732119657974-r0hs80vck760vttlq66dpksvhn8n3vgb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAD2-O79ug5aGbE4G-nSSUTzSLIuNAbUCU</string>
	<key>GCM_SENDER_ID</key>
	<string>732119657974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Feelmoti</string>
	<key>PROJECT_ID</key>
	<string>feelmoti-39281</string>
	<key>STORAGE_BUCKET</key>
	<string>feelmoti-39281.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732119657974:ios:31eec9d0432b4b930b6bd7</string>
</dict>
</plist>